<div>
    <h1>Children index</h1>
    <ul>
        <% @children.each do |c| %>
            <li><%= link_to "#{c.name}", child_path(c) %> - parent: <%= link_to "#{c.user.name}", user_path(c.user) %></li>
        <% end %>
    </ul>
</div>