<div>
    <%= render partial: 'about', locals: {child: @child} %>
    <%= link_to "Edit", action: "edit" %> <%= link_to "Delete", { action: "destroy", id: @child.id }, method: "delete", data: { confirm: "Delete child?" } %>
    <p>Parent: <%= link_to "#{@child.user.name}", @child.user %>
</div>