<h2>Outings</h2>
<ul>
<% @outings.each do |o| %>
    <li><%= link_to "#{o.activities.first.name} #{o.outing_date} #{o.user.name}", o %></li>
<% end %>
</ul>
<%= link_to "Create Outing", action: 'new' %>