// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.form-signin {
    max-width: 330px;
    padding: 15px;
}
.m-auto {
    margin: auto!important;
}
.w-100 {
    width: 100%!important;
}