<h2><%= @activity.name %></h2>

<p>Users who participate in this activity:</p>
<ul>
    <% @activity.users.each do |u| %>
        <li><%= u.name %></li>
    <% end %>
</ul>
<%= link_to "Delete", { action: 'destroy', id: @activity.id }, method: "delete", data: { confirm: "Delete activity?" } %>
<br>
<%= link_to "Return to activities list", action: "index" %>